{;:paths []
 :tasks
 {install (shell "npm install && sudo npm install shadow-cljs -g")
  build (shell "shadow-cljs release main renderer")
  dev (shell "shadow-cljs -A:dev watch main renderer")
  electron (do (run 'build) (shell "npx electron ."))
  clean (shell "rm -rf resources/public/js/* && rm -rf target")
  start (shell "npx electron-forge start")
  package (shell "npx electron-forge package")
  make (shell "npx electron-forge make --arch=x64 --platform=darwin")}}
