;; shadow-cljs configuration
{:deps {:aliases [:dev]} ;; use deps.edn for dependencies

 :dev-http {8080 "resources/public/"} ;; start a webserver for development

 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main app.main.core/main}

          :renderer {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "js"
                     :modules {:renderer {:init-fn app.renderer.core/start!
                                          :preloads [;devtools.preload
                                                     day8.re-frame-10x.preload]}}
                     :dev {:compiler-options
                           {:closure-defines
                            {re-frame.trace.trace-enabled?        true
                             day8.re-frame.tracing.trace-enabled? true}}}}}}
